
@model NewsViewModel
<div class="row g-4">
    @foreach(var item in Model.result.Take(5))
    {
        <div class="col-12">
            <div class="row g-4 align-items-center features-item">
                <div class="col-4">
                    <div class=" position-relative">
                        <div class="overflow-hidden ">
                            <img style="height:70px" src="@item.image" class="img-zoomin img-fluid  w-100" alt="">
                        </div>
                        <span class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute" style="top: 10%; right: -10px;">3</span>
                    </div>
                </div>
                <div class="col-8">
                    <div class="features-content d-flex flex-column">
                        <p class="text-uppercase mb-2">@item.source</p>
                        <a href="#" class="h6">
                           @item.name
                        </a>
                       @*  <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> @item.description</small> *@
                    </div>
                </div>
            </div>
        </div>
    }
   
    <div class="col-lg-12">
        <a href="#" class="link-hover btn border border-primary rounded-pill text-dark w-100 py-3 mb-4">Dahası</a>
    </div>
    <div class="col-lg-12">
        <div class="border-bottom my-3 pb-3">
            <h4 class="mb-0">Trending Tags</h4>
        </div>
        <ul class="nav nav-pills d-inline-flex text-center mb-4">
            <li class="nav-item mb-3">
                <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                    <span class="text-dark link-hover" style="width: 90px;">Lifestyle</span>
                </a>
            </li>
            <li class="nav-item mb-3">
                <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                    <span class="text-dark link-hover" style="width: 90px;">Sports</span>
                </a>
            </li>
            <li class="nav-item mb-3">
                <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                    <span class="text-dark link-hover" style="width: 90px;">Politics</span>
                </a>
            </li>
            <li class="nav-item mb-3">
                <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                    <span class="text-dark link-hover" style="width: 90px;">Magazine</span>
                </a>
            </li>
            <li class="nav-item mb-3">
                <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                    <span class="text-dark link-hover" style="width: 90px;">Game</span>
                </a>
            </li>
            <li class="nav-item mb-3">
                <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                    <span class="text-dark link-hover" style="width: 90px;">Movie</span>
                </a>
            </li>
            <li class="nav-item mb-3">
                <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                    <span class="text-dark link-hover" style="width: 90px;">Travel</span>
                </a>
            </li>
            <li class="nav-item mb-3">
                <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                    <span class="text-dark link-hover" style="width: 90px;">World</span>
                </a>
            </li>
        </ul>
    </div>
    
</div>