@using System.Globalization
@model NavbarMovieViewModel
@{
    DateTime now = DateTime.Now;
    var culture = new CultureInfo("tr-TR");
    string formattedDate = now.ToString("dddd, dd MMMM yyyy", culture);
}
<!-- Spinner Start -->
<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->
<!-- Navbar start -->
<div class="container-fluid sticky-top px-0">
    <div class="container-fluid topbar bg-dark d-none d-lg-block">
        <div class="container px-0">
            <div class="topbar-top d-flex justify-content-between flex-lg-wrap">
                <div class="top-info flex-grow-0">
                    <span class="rounded-circle btn-sm-square bg-primary me-2">
                        <i class="fas fa-bolt text-white"></i>
                    </span>
                    <div class="pe-2 me-3 border-end border-white d-flex align-items-center">
                        <p class="mb-0 text-white fs-6 fw-normal">Günün Filmi</p>
                    </div>
                    <div class="overflow-hidden" style="width: 735px;">

                        <div id="note" class="ps-2">
                            <img src="@Model.image" class="img-fluid rounded-circle border border-3 border-primary me-2" style="width: 30px; height: 30px;" alt="">
                            <a href="https://www.imdb.com/title/@Model.imdbid/">
                                <p class="text-white mb-0 link-hover"> @Model.title</p>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="top-link flex-lg-wrap">
                    <i class="fas fa-calendar-alt text-white border-end border-secondary pe-2 me-2"> <span class="text-body">@formattedDate</span></i>
                    <div class="d-flex icon">
                        <p class="mb-0 text-white me-2">Takip Edin:</p>
                        <a href="" class="me-2"><i class="fab fa-twitter text-body link-hover"></i></a>
                        <a href="" class="me-2"><i class="fab fa-instagram text-body link-hover"></i></a>
                        <a href="" class="me-2"><i class="fab fa-youtube text-body link-hover"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="container px-0">
            <nav class="navbar navbar-light navbar-expand-xl">
                <a href="index.html" class="navbar-brand mt-3">
                    <p class="text-primary display-6 mb-2" style="line-height: 0;">Filmy</p>
                    @* <small class="text-body fw-normal" style="letter-spacing: 12px;">Filmy</small> *@
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-light py-3" id="navbarCollapse">
                    <div class="navbar-nav mx-auto border-top">
                        <a href="Default/Index" class="nav-item nav-link active">Ana Sayfa</a>
                        <a href="About/Index" class="nav-item nav-link">Hakkında</a>
                        <a href="Pharmacy/Index" class="nav-item nav-link">Nöbetçi Eczane</a>
                        @* <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"></a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                        <a href="#" class="dropdown-item">Dropdown 1</a>
                        <a href="#" class="dropdown-item">Dropdown 2</a>
                        <a href="#" class="dropdown-item">Dropdown 3</a>
                        <a href="#" class="dropdown-item">Dropdown 4</a>
                        </div>
                        </div> *@
                        <a href="Contact/Index" class="nav-item nav-link">İletişim</a>
                    </div>
                    <div class="d-flex flex-nowrap border-top pt-3 pt-xl-0">
                        <div class="d-flex">
                            <img src="/Newsers-1.0.0/img/weather-icon.png" class="img-fluid w-100 me-2" alt="">
                            <div id="weather-info">
                                <div class="d-flex align-items-center">
                                    <strong class="fs-4 text-secondary" id="weather-temperature"></strong>
                                    <div class="d-flex flex-column ms-2" style="width: 150px;">
                                        <span class="text-body" id="weather-location"></span>
                                        <small id="weather-date"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn-search btn border border-primary btn-md-square rounded-circle bg-white my-auto" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $.ajax({
            url: '/Default/GetWeather', // API isteği göndereceğimiz URL
            type: 'GET',
            dataType: 'json', // API'den JSON veri bekliyoruz
            success: function (data) {
                console.log(data);
                var weather = data.result[0]; // İlk günün hava durumu örneği

                // Sıcaklık verisini virgülden önceki kısmı alarak ayarla
                var temperature = weather.degree.split('.')[0];
                $('#weather-temperature').text(temperature + '°C');

                // Şehir ismini ilk harfi büyük, diğerleri küçük yaparak ayarla
                var city = data.city.charAt(0).toUpperCase() + data.city.slice(1).toLowerCase();
                $('#weather-location').text(city);

                $('#weather-date').text(weather.date);
            },
            error: function () {
                // Hata durumunda burası çalışacak
                console.log('Hava durumu bilgisi alınamadı.');
            }
        });
    });
</script>
