@model NamazViewModel

<div class="container-fluid latest-news py-5">
    <div class="container py-5">
        <h2 class="mb-4">İstanbul Namaz Vakitleri </h2>
        <div class="latest-news-carousel owl-carousel">
            @foreach (var item in Model.result)
            {
                <div class="latest-news-item">
                    <div class="bg-light rounded">
                        <div class="rounded-top overflow-hidden">
                            <img src="/Newsers-1.0.0/img/Namaz.jpeg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="d-flex flex-column p-4">
                            <a href="#" class="h4">@item.vakit</a>
                            <div class="d-flex justify-content-between">
                                <small class="text-body d-block"><i class="fas fa-clock-alt me-1"></i> @item.saat</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
